<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera-camtay</title>
</head>
<body>
   <h2>Hướng dẫn sử dụng thiết bị Camera cầm tay</h2>
   <img src="../../static/img_guide/Labostart-pro/4.png" alt="img"> <br>
   <h4>Why Camß is better than your smartphone</h4>
   <p>
    . Optically optimized for close focusing <br>
    . Illumination configured for close working <br> 
    . Image security and live HDMI and TV-out <br>
    . Secure grip for left and right hand use <br>
    <img src="../../static/img_guide/Labostart-pro/7.png" alt="img"> <br>
    <img src="../../static/img_guide/Labostart-pro/5.png" alt="img"> <br>
    <h5>Sample applications</h5>
    <img src="../../static/img_guide/Labostart-pro/6.png" alt="img"> <br>
   </p>
</body>
</html>