<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guide</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body class="container" style="font-size: 20px;">
<h2>Hướng dẫn sử dụng thiết bị Chlorophyll Meter SPAD502PLUS </h2>
<h4>Cách đo cơ bản</h4>
<p>Gạt thanh sang nút ON để bật máy, máy sẽ hiển thị tên và chuyển sang chế độ cali <br>
    Kẹp đầu đo để cali tối, sau đó dùng mẫu đã cho để chuẩn độ <br>
    Tiến hành đo: Đặt lá tương ứng với vị trí cần đo, ấn đầu đo xuống đến khi màn hình hiển thị kết quả (N=i, lần đo thứ i; ) <br>
    Tiếp tục kẹp sang các vị trí khác để đo, muốn biết trung bình thì ấn vào average, xem lại các kết quả đo ấn liên tục vào data recall.
</p>
<h4>Màn hình</h4>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter_manhinh.png" alt="img">
<h4>N= số mẫu, N>50 sẽ hiện * (lúc này không đảm bảo chính xác)</h4>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter2.png" alt="img"> 
<br>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter3.png" alt="img">
<br>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter4.png" alt="img">
<br>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter5.png" alt="img"> 
<!-- thiếu -->
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter6.png" alt="img"> 
<p>
Nếu ko dùng trong 2 tuần, tháo pin khỏi thân máy <br>
Máy đo không thực hiện đúng, tắt đi bật lại. Nếu còn lỗi, máy đo gặp trục trặc và cần hỗ trợ
</p>
<h4> Chuẩn Bị</h4>
<div>
    <div style="float: left;">
       
        <p>
            1. Tháo nắp bằng cách xoay theo hình <br>
            2. Lắp 2 pin size AA. Đảm bảo lấp đúng đầu. <br>
            Có thể dùng pin Alkaline-manganese <br>
            Không mix các loại pin <br>
            3. Xoay để đóng nắp <br>

        </p>
    </div>
    <div style="float: left;">
        <img style="" src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorophyll_meter7.png" alt="img"> 
    </div>
</div>

<h4 style="clear: left;">Hiệu Chuẩn</h4>
<p>1. Bật ON </p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/8.png" alt="img"> 
<p>2. Khi không có mẫu, bấm vào chỗ để tay để đóng đầu đo. Giữ đến khi nghe tiếng bíp và màn hình hiện lên </p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter9.png" alt="img">
<h4>Đo</h4>
<p>Vùng đo 2x3 mm , đồ dày mẫu lên tới 1.2mm. <br>
    Center line chỉ trung tâm của vùng đo. <br>
    Depth stop có thể đo hằng số sâu
</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter10.png" alt="img">
<p>
    Sau khi dùng, lau khô với vải mềm, sạch . Không nhúng hay rửa với nước <br>
1. Hiệu chuẩn <br>
2. Cho mẫu vào đúng chỗ trên đầu đo <br>
Đảm bảo mẫu che phủ hoàn toàn cửa sổ nhận <br>
Không cố gắng đo những phần quá dày như là gân lá. Nếu lá có nhiều gân mịn, đo nhiều lần và lấy trung bình để có kết quả tốt nhất. <br>
Nếu bộ phát sáng hay cửa sổ nhận bị bẩn hoặc dính nước, ko thể đo chính xác, lau sạch trước khi đo <br>
Khi dùng máy trực tiếp dưới ánh sáng mặt trời, che máy đo bằng thân người để chặn ánh sáng ảnh hưởng đến phép đo
</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter11.png" alt="img">
<p>
    3. Bấm vào phần để tay để đóng đầu đo , giữ nó đến khi nghe tiếp bíp, Phép đo sẽ tự động lưu trong bộ nhớ
</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter12.png" alt="img">

<h4>DÙNG DEPTH STOP</h4>
<p>
Depth stop dùng để tối đa độ sâu mà mẫu có thể được cho vào khay đo để giữ cho phép đo ổn định <br>
Đặc biệt hữu dụng khi đo những lá nhỏ <br>
Để đặt vị trí của depth stop, vắt 2 bên của depth stop chống lại các cạnh của đầu đo và trượt tới vị trí mong muốn. <br>
 Depth stop có thể di chuyển với khoảng cách từ 0-6mm từ đường tâm

</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter13.png" alt="img">
<p>Khi không dùng, tháo nó, xoay nó lại và thay thế nó trên đầu đo</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter14.png" alt="img">

<h4>CHỨC NĂNG</h4>
<p>Nhớ 30 giá trị, khi vượt quá, những giá trị cũ nhất sẽ mất đi lần lượt <br>
    Tất cả bộ nhớ sẽ xóa khi nhấn OFF
    </p>
    <img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter15.png" alt="img">
<p>AVERAGE: Tính trung bình giá trị của mọi giữ liệu trong bộ nhớ <br>
    ALL DATA CLEAR: Xóa toàn bộ dữ liệu <br>
    DATA RECALL: Gọi lại data trước để kiểm tra <br>
    1 DATA DELETE: Xóa dữ liệu đang hiển thị khi nó không đúng
</p>
 <h4>GIÁ TRỊ BÙ ĐẦU VÀO</h4>
 <p>
    Giá trị bù có thể đặt từ -9.9 đến 9.9. Sau khi nhập giá trị bù, dữ liệu được tính theo công thức <br>
    Giá trị được hiển thị = Giá trị đo + Giá trị bù <br>
    Để nhập giá trị bù:  <br>
    1 Bật nút on trong khi giữ đồng thời AVERAGE và DATA RECALL. <br>
    Máy đo sẽ vào chế độ bù và giá trị bù trước đó sẽ được hiển thị trên màn hình. Bằng 0.0 nếu chưa có.
    
    <br>
    2. Đặt giá trị bù bằng ALL DATA CLEAR (tăng) và 1 DATA DELETE (giảm). Giá trị bù sẽ tăng hoặc giảm 0.1 tương ứng.
    
    
    <br>
    3. Sau khi cài đặt giá trị mong muốn, bấm AVERAGE. Giá trị sẽ được lưu và hoàn thành. Tắt và bật lại để có hiệu lực
 </p>
 <img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter16.png" alt="img">
<p>Nếu giá trị bù khác 0.0, màn hình hiển thị sau sẽ hiện khi bật nguồn:</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/chlorpohyll_meter17.png" alt="img">
<h4>TIÊU CHUẨN HÓA NHIỀU MÁY ĐO</h4>
<p>Những máy đo khác nhau sẽ hiển thị kết quả có 1 chút khác biệt dù đo cùng 1 vị trí. Làm các bước sau và thêm giá trị bù để giảm thiểu tới mức thấp nhất: <br>
    1. Chọn 1 máy đo làm chuẩn <br>
    2. Đo vùng giống nhau của 1 chiếc lá 1 vài lần với máy đo chính và bấm AVERAGE để lưu giá trị trung bình <br>
    3. Làm tương tự b2 với các máy đo khác <br>
    4. Thêm vào bộ bù để giá trị tb được giống nhau <br>
</p>
<h4>DÙNG READING CHECKER</h4>
<p>Dùng để xem máy có hoạt động bình thường không, nên làm theo chu kỳ để giữ cho sự chính xác được tốt nhất <br>
</p>
<p>1. Bật ON khi giữ đồng thời 1 DATA DELETE và DATA RECALL. Máy đo sẽ vào checkmode với màn hình được hiện như sau: </p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/18.png" alt="img">
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/19.png" alt="img">
<p>2. Thực hiện hiệu chỉnh. (như MỤC HIỆU CHỈNH) </p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/20.png" alt="img">
<p>3. Tháo depth stop </p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/21.png" alt="img">
<p>4. Lắp bộ reading checker vào khay mẫu,  bấm vào chỗ để tay để đóng đầu đo, giữ đến khi nghe tiếng bíp và giá trị đo được hiện </p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/22.png" alt="img">
<p>5. Lặp lại b4 1 vài lần
</p>
<p>6. Tính trung bình giá trị bằng AVERAGE. Và so với giá trị của reading checker, nếu không gần với giá trị trên, <br>
     lau sạch bộ phát và cửa sổ thu và lặp lại quá trình từ b1. Nếu vẫn không đúng, máy có thể đã gặp trục trặc. Liên hệ hỗ trợ
</p>
<img src="../../static/img_guide/chlorophyll_meter_SPAD502PLUS/23.png" alt="img">
<p>7. Quay trở lại chức năng bình thường. Bấm OFF rồi ON trở lại <br>
    Chỉ nên reading checker trong checkmode và cùng mẫu với máy đo <br>
    Không dùng ngoài trời, dùng trong nhà ko có ánh sáng mặt trời trục tiếp, nhiệt và ẩm độ cao <br>
    Sự sai khác giá trị của reading checker và giá trị đo được có thể được hiệu chỉnh bằng giá trị bộ <br>
    Không chạm vào mặt kính của reading checker. Nếu bẩn hãy lau nó bằng vải sạch, mềm và ẩm. <br>
    Để bảo vệ rc, nó nên được để trong hộp phụ kiện. Không để ở vùng có nhiệt độ và độ ẩm cao
    </p>
<h4>THAM KHẢO:</h4>
<a href="https://www.specmeters.com/assets/1/22/2900P_SPAD_502.pdf">https://www.specmeters.com/assets/1/22/2900P_SPAD_502.pdf</a>
</body>
</html>