<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECLIPSE E200</title>
</head>
<body>
   <h2> Hướng dẫn sử dụng kính hiển vi ECLIPSE E200</h2>
   <h4>Quy trình soi hiển vi
    (Tham khảo nhanh)</h4>
    <p>1, Bật nguồn.
        <br>
        Ấn công tắc nguồn sang vị trí “l”.
    </p>
    <p>2, Hơi hạ thấp tụ quang xuống từ vị trí cao nhất.
        <br>
        Xoay núm lấy nét tụ quang để hơi hạ thấp tụ quang từ vị trí cao nhất
    </p>
    <p>3, Mở hoàn toàn màn chắn trường và màn chắn khẩu độ tụ quang 
        (Điều chỉnh màn chắn trường chỉ dành cho kính hiển vi có màn chắn trường)
        <br>
        Xoay vòng màn chắn trường sang vị trí giới hạn trái để mở hoàn toàn màn chắn trường.
Xoay gạt màn chắn khẩu độ tụ quang sang vị trí giới hạn trái để mở hoàn toàn màn chắn.
    </p>
    <p>
        4, Chuyển vật kính 10× vào đường quang.
        <br>
        Xoay mâm vật kính để chuyển vật kính 10x vào đường quang.
    </p>
    <p>
        5, Đặt lam mẫu lên bàn di mẫu và điều chỉnh mẫu vào trong 
        đường quang. <br>
        Xoay núm di chuyển bàn di mẫu để chuyển mẫu vào đường quang.
    </p>
    <p>6, Lấy nét cho mẫu.  <br>
        Xoay núm chỉnh tiêu cự để lấy nét cho mẫu.</p>
    <p>
        7, Điều chỉnh diop. <br>
        Xoay vòng diop trên thị kính.
    </p>
    <p>8, Điều chỉnh khoảng cách 2 mắt. <br>
        Hợp nhất khoảng cách giữa 2 thị kính với khoảng cách giữa 2 mắt của bạn.</p>
    <p>
        9, Lấy nét và chỉnh tâm cho màn chắn trường
        (Điều chỉnh này chỉ dành cho KHV có màn chắn trường.) <br>
        Sử dụng núm lấy nét tụ quang, vòng xoay màn chắn trường và ốc lấy tâm màn chắn trường cho 
        bước điều chỉnh này.
    </p>
    <p>
       10, Lựa chọn vật kính.  <br>
Xoay mâm vật kính sang vật kính có độ phóng đại mong muốn.
    </p>
    <p>11, Điều chỉnh màn chắn khẩu độ tụ quang. <br>
        Xoay gạt màn chắn khẩu độ tụ quang sang vị trí có đánh dấu độ phóng đại giống như của 
        vật kính đang đặt trong đường quang.</p>
    <p>
        12, Lấy nét cho mẫu. <br>
        Vặn núm điều chỉnh độ sáng để chỉnh độ sáng của trường nhìn và lấy nét cho mẫu với 
        núm chỉnh tiêu cự.
    </p>
    <p>
        13, Điều chỉnh màn chắn trường. (Điều chỉnh này chỉ dành cho KHV có 
        màn chắn trường.) <br>
        Xoay vòng màn chắn trường đến khi ảnh màn chắn ngoại tiếp trường quan sát.
    </p>
    <p>
        14, Tiến hành quan sát mẫu. <br>
        Mỗi khi đổi vật kính, điều chỉnh màn chắn khẩu độ và màn chắn trường.
    </p>
    <p>
        15, Tắt công tắc nguồn. <br>
        Ấn công tắc sang vị trí “○” .
    </p>
    <img src="../../static/img_guide/eclipse/1.png" alt="img">
</body>
</html>