<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECLIPSE E200</title>
</head>
<body style="font-size: 20px;">
   <h2> Hướng dẫn sử dụng kính hiển vi ECLIPSE E200</h2>
   <h4>Quy trình soi hiển vi
    (Tham khảo nhanh)</h4>
    <p>1, Bật nguồn.
        <br>
        Ấn công tắc nguồn sang vị trí “l”.
    </p>
    <p>2, Hơi hạ thấp tụ quang xuống từ vị trí cao nhất.
        <br>
        Xoay núm lấy nét tụ quang để hơi hạ thấp tụ quang từ vị trí cao nhất
    </p>
    <p>3, Mở hoàn toàn màn chắn trường và màn chắn khẩu độ tụ quang 
        (Điều chỉnh màn chắn trường chỉ dành cho kính hiển vi có màn chắn trường)
        <br>
        Xoay vòng màn chắn trường sang vị trí giới hạn trái để mở hoàn toàn màn chắn trường.
Xoay gạt màn chắn khẩu độ tụ quang sang vị trí giới hạn trái để mở hoàn toàn màn chắn.
    </p>
    <p>
        4, Chuyển vật kính 10× vào đường quang.
        <br>
        Xoay mâm vật kính để chuyển vật kính 10x vào đường quang.
    </p>
    <p>
        5, Đặt lam mẫu lên bàn di mẫu và điều chỉnh mẫu vào trong 
        đường quang. <br>
        Xoay núm di chuyển bàn di mẫu để chuyển mẫu vào đường quang.
    </p>
    <p>6, Lấy nét cho mẫu.  <br>
        Xoay núm chỉnh tiêu cự để lấy nét cho mẫu.</p>
    <p>
        7, Điều chỉnh diop. <br>
        Xoay vòng diop trên thị kính.
    </p>
    <p>8, Điều chỉnh khoảng cách 2 mắt. <br>
        Hợp nhất khoảng cách giữa 2 thị kính với khoảng cách giữa 2 mắt của bạn.</p>
    <p>
        9, Lấy nét và chỉnh tâm cho màn chắn trường
        (Điều chỉnh này chỉ dành cho KHV có màn chắn trường.) <br>
        Sử dụng núm lấy nét tụ quang, vòng xoay màn chắn trường và ốc lấy tâm màn chắn trường cho 
        bước điều chỉnh này.
    </p>
    <p>
       10, Lựa chọn vật kính.  <br>
Xoay mâm vật kính sang vật kính có độ phóng đại mong muốn.
    </p>
    <p>11, Điều chỉnh màn chắn khẩu độ tụ quang. <br>
        Xoay gạt màn chắn khẩu độ tụ quang sang vị trí có đánh dấu độ phóng đại giống như của 
        vật kính đang đặt trong đường quang.</p>
    <p>
        12, Lấy nét cho mẫu. <br>
        Vặn núm điều chỉnh độ sáng để chỉnh độ sáng của trường nhìn và lấy nét cho mẫu với 
        núm chỉnh tiêu cự.
    </p>
    <p>
        13, Điều chỉnh màn chắn trường. (Điều chỉnh này chỉ dành cho KHV có 
        màn chắn trường.) <br>
        Xoay vòng màn chắn trường đến khi ảnh màn chắn ngoại tiếp trường quan sát.
    </p>
    <p>
        14, Tiến hành quan sát mẫu. <br>
        Mỗi khi đổi vật kính, điều chỉnh màn chắn khẩu độ và màn chắn trường.
    </p>
    <p>
        15, Tắt công tắc nguồn. <br>
        Ấn công tắc sang vị trí “○” .
    </p>
    <img src="../../static/img_guide/eclipse/1.png" alt="img">
    <h4>2, Quy trình soi hiển vi
        (Chi tiết)</h4>
    <h4>Chuẩn bị ( Thao tác trước khi soi) </h4>
    <p>1,Bật công tắc nguồn. 
       <br> Ấn công tắc sang vị trí “l” và đèn sẽ sáng. <br>
       <img src="../../static/img_guide/eclipse/2.png" alt="img">
    </p>
    <p>2, Hơi hạ thấp tụ quang từ vị trí cao nhất. <br>
        Xoay núm lấy nét tụ quang để nâng tụ quang lên 
        vị trí cao nhất và sau đó hơi hạ thấp tụ quang 
        xuống. <br>
        Chú ý: Tụ quang sẽ kêu cạch khi tới giới hạn cao 
        nhất. <br>
        <img src="../../static/img_guide/eclipse/3.png" alt="img">
    </p>
    <p>3, Mở hoàn toàn màn chắn trường và màn chắn khẩu 
        độ tụ quang <br>
        (Điều chỉnh màn chắn trường chỉ dành cho kính hiển vi có màn chắn trường.) <br>
        (1) Xoay vòng màn chắn trường sang vị trí 
        giới hạn trái để mở hoàn toàn màn chắn 
        trường. <br>
        (2) Xoay gạt màn chắn khẩu độ tụ quang 
        sang vị trí giới hạn trái để mở hoàn 
        toàn màn chắn. <br>
        <img src="../../static/img_guide/eclipse/4.png" alt="img"> <br>
        <img src="../../static/img_guide/eclipse/5.png" alt="img">
    </p>
    <p>4, Chuyển vật kính 10x vào đường 
        quang. <br>
        Xoay mâm vật kính để chuyển vật kính 10x vào 
        đường quang.. Vật kính sẽ tạo ra tiếng cạch khi được xoay vào vị
        trí. <br>
        <img src="../../static/img_guide/eclipse/6.png" alt="img">
    </p>
    <p>5, Đặt lam mẫu lên bàn di mẫu và điều chỉnh mẫu vào trong 
        đường quang. <br>
        (1) Đặt lam mẫu lên bàn di mẫu với mặt la 
        men hướng lên trên. <br>
        (2) Mở kẹp giữ mẫu và cố định mẫu bằng 
        kẹp.  <br>
        (3) Xoay núm di chuyển bàn di mẫu (trục Y 
        và X) để đặt mẫu vào đường quang.
        Ánh sáng từ nguồn sáng sẽ đi qua mẫu. <br>
        <img src="../../static/img_guide/eclipse/7.png" alt="img"> <br>
        <img src="../../static/img_guide/eclipse/8.png" alt="img">
    </p>
    <p> 6, Lấy nét cho mẫu. <br>
        (1) Xoay núm chỉnh thô để nâng bàn di 
        mẫu lên vị trí cao nhất. 
        Không vặn núm chỉnh thô thêm khi 
        bàn di mẫu đã đạt vị trí cao nhất. 
        Việc này sẽ làm hỏng cơ chế chỉnh 
        tiêu cự <br>
        <img src="../../static/img_guide/eclipse/9.png" alt="img"> <br>
        (2) Nhìn vào thị kính với mắt trái hoặc phải, 
        điều chỉnh độ sáng của trường nhìn bằng 
        cách vặn núm chỉnh sáng. <br> 
        <img src="../../static/img_guide/eclipse/10.png" alt="img"> <br>
        (3) Nhìn vào thị kính, xoay từ từ núm chỉnh 
        thô để hạ thấp bàn di mẫu. Khi ảnh của 
        mẫu xuất hiện, dừng xoay núm. 
        Không vặn núm chỉnh thô thêm khi bàn di 
        mẫu đã đạt vị trí giới hạn dưới. Việc này sẽ
        làm hỏng cơ chế chỉnh tiêu cự. <br>
        <img src="../../static/img_guide/eclipse/11.png" alt="img"> <br>
        (4) Vặn núm chỉnh tinh và lấy nét chính xác 
        cho ảnh.
        Không vặn núm chỉnh tiêu cự bên trái và
        phải đồng thời theo chiều ngược nhau. 
        Việc này sẽ làm hỏng cơ chế lấy tiêu cự. <br>
        <img src="../../static/img_guide/eclipse/12.png" alt="img"> <br>
        <img src="../../static/img_guide/eclipse/13.png" alt="img"> <br>
    </p>
    <p>7,Điều chỉnh vòng diop trên thị
        kính. <br>
        Quy trình này là để điều chỉnh vòng diop trên thị
        kính theo sự khác nhau giữa mắt trái và phải của 
        bạn. <br>
        (1) Xoay vòng diop trên thị kính trái và phải 
        để khớp rìa đáy của nó với đường khắc cơ 
        sở. Đây là vị trí tiêu chuẩn cho điều chỉnh 
        diop. <br>
        <img src="../../static/img_guide/eclipse/14.png" alt="img"> <br>
        (2) Chuyển vật kính 40x vào đường 
        quang, lấy nét cho mẫu bằng núm 
        chỉnh tiêu cự. <br>
        <img src="../../static/img_guide/eclipse/15.png" alt="img"> <br>
        (3) Chuyển trở lại vật kính 10x hoặc 4x. <br>
        (4) Khi nhìn vào vào thị kính phải với mắt 
        phải, lấy nét cho mẫu bằng cách xoay 
        vòng diop mà không sử dụng núm 
        chỉnh tiêu cự. <br>
        <img src="../../static/img_guide/eclipse/16.png" alt="img"> <br>
        (5) Khi nhìn vào vào thị kính trái với mắt 
trái, lấy nét cho mẫu bằng cách xoay 
vòng diop mà không sử dụng núm chỉnh 
tiêu cự. <br>
        <img src="../../static/img_guide/eclipse/17.png" alt="img"> <br>
        (6) Lặp lại bước 2 đến 5 để kiểm tra 
mẫu đã được lấy nét. <br>

    </p>
    <p>8,  Điều chỉnh khoảng cách 2 mắt. <br>
        Nhìn qua thị kính, nhập trường nhìn bên trái và 
phải thành một bằng cách xoay đầu 2 mắt. Nhìn 
vào thị kính như thể bạn đang nhìn xa và bạn có 
thể dễ dàng khớp trường nhìn với nhau. <br>
<img src="../../static/img_guide/eclipse/18.png" alt="img"> <br>
    </p>
    <p>9,Lấy nét cho màn chắn trường và 
        chỉnh tâm. <br>
        (1) Chuyển vật kính 10x hoặc 4x vào 
đường quang. Xoay vòng màn chắn 
trường sang vị trí giới hạn dưới để
đóng màn chắn. <br>
<img src="../../static/img_guide/eclipse/19.png" alt="img"> <br>
(2) Trong khi nhìn vào thị kính, xoay núm 
lấy nét tụ quang để ảnh màn chắn trở
nên rõ. <br>
(3) Vặn ốc lấy tâm màn chắn trường cho đến 
khi ảnh màn chắn nằm ở trung tâm 
trường nhìn. <br>
<img src="../../static/img_guide/eclipse/20.png" alt="img"> <br>
(4) Chuyển sang vật kính 40x. Nếu vùng 
rìềm ảnh mờ, xoay núm lấy nét tụ quang 
để thu được vị trí lấy nét tốt nhất. <br>
(5) Vặn vòng màn chắn trường sao cho ảnh 
màn chắn trường có kích thước gần như 
trường quan sát. <br>
<img src="../../static/img_guide/eclipse/21.png" alt="img"> <br>
(6) Nếu ảnh màn chắn chưa ở trung 
tâm, sử dụng ốc lấy tâm để chỉnh 
lại. <br>
<img src="../../static/img_guide/eclipse/22.png" alt="img"> <br>
    </p>
    <p>10, Chọn vật kính. <br>
        Xoay mâm vật kính sang vật kính có độ
phóng đại mong muốn. <br>
<img src="../../static/img_guide/eclipse/23.png" alt="img"> <br>
    </p>
    <p>11,Điều chỉnh màn chắn khẩu độ tụ quang.
        <br>
        Xoay gạt màn chắn khẩu độ tụ quang sang vị trí có 
đánh dấu độ phóng đại giống như của vật kính đang 
đặt trong đường quang.  <br>
Mỗi khi thay đổi độ phóng đại vật kính, khớp độ mở
màn chắn đến vị trí đánh d ấu độ phóng đại của vật 
kính đang dùng. <br>
<img src="../../static/img_guide/eclipse/24.png" alt="img"> <br>
    </p>
    <p>12, Lấy nét cho mẫu. 
        <br>
        (1) Nhìn vào thị kính, xoay núm chỉnh
sáng để điều chỉnh độ sáng của 
trường nhìn.  <br>
<img src="../../static/img_guide/eclipse/25.png" alt="img"> <br>
(2) Nếu mẫu nằm ngoài vùng lấy nét, xoay 
núm chỉnh tiêu cự để lấy nét cho mẫu. <br>
<img src="../../static/img_guide/eclipse/26.png" alt="img"> <br>
1. Khi xoay núm chỉnh thô trong khi nhìn vào 
thị kính, đảm bảo chỉ xoay theo chiều hạ
thấp bàn di mẫu.  <br>
2. Khi nâng bàn di mẫu sử dụng núm chỉnh thô, 
rời mắt khỏi thị kính, nhìn từ phía bên để
quan sát khoảng trống giữa mẫu và phần 
đầu thị kính. <br>
<img src="../../static/img_guide/eclipse/27.png" alt="img"> <br>
3. Đầu tiên lấy nét với vật kính có độ
phóng đại thấp. Sau đó đổi sang vật 
kính có độ phóng đại lớn hơn. <br> 
<img src="../../static/img_guide/eclipse/28.png" alt="img"> <br>
    </p>
    <p>13, Điều chỉnh màn chắn trường.
        <br>
        Nhìn vào thị kính, xoay vòng màn chắn trường 
đến khi ảnh màn chắn vừa ngoại tiếp vi trường.
Nhãn trên màn chắn trường đánh dấu vị trí 
thích hợp của màn chắn trường tương đương với từng 
độ phóng đại của vật kính khi sử dụng thị kính 10x.
Đối với vật kính 100x, màn chắn không thể đóng đủ mức. <br>
<img src="../../static/img_guide/eclipse/29.png" alt="img"> <br>
    </p>
    <p>14, Quan sát mẫu.
        Xoay núm di chuyển bàn di mẫu để chuyển mẫu 
vào đường quang. Nếu mẫu nằm ngoài vùng lấy 
nét, xoay núm chỉnh tiêu cự để lấy nét cho mẫu.
Đổi vật kính hoặc mẫu và lặp lại bước 10 đến 14. <br>
<img src="../../static/img_guide/eclipse/30.png" alt="img"> <br>
<img src="../../static/img_guide/eclipse/31.png" alt="img"> <br>
<img src="../../static/img_guide/eclipse/32.png" alt="img"> <br>
    </p>
</body>
</html>