<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamma_Sciencetific_Spectrometter_PG200N</title>
</head>
<body style="font-size: 20px;">
    <h2>Hướng dẫn sử dụng thiết bị Gamma Sciencetific Spectrometter</h2>
    <h4>1. Chuẩn bị</h4>
    <p>Sạc đầy pin trước khi sử dụng. <br>
        Cắm thẻ MicroUSB trước khi sử dụng (nếu cần lưu kết quả). <br>
        Thực hiện dak calibrate, chú ý phải che sensor lại bằng miếng cao su đen đi kèm máy. <br>
        Cài đặt ngày và giờ.
        </p>
    <h4>Cách đo</h4>
    <p>Nhấn vào phần “Basic” trên màn hình mở chế độ đo ánh sáng bức xạ mặt trời -> Nhấn vào hình bàn tay góc dưới cùng của màn hình để bắt đầu đo -> Máy sẽ kêu “beep” sau khi hoàn thành quá trình đo, kết quả hiện trên màn hình của thiết bị -> Sau khi đo, nhấn nút lưu ở góc trái phía dưới màn hình để lưu kết quả đo, kết quả sẽ được lưu trong thẻ MicroUSB.
        <br>
        <img src="../../static/img_guide/Gamma_Sciencetific_Spectrometter_PG200N/1.png" height="190" width="400"   alt="img">  <br>
        <img src="../../static/img_guide/Gamma_Sciencetific_Spectrometter_PG200N/2.png" alt="img">   
        <img src="../../static/img_guide/Gamma_Sciencetific_Spectrometter_PG200N/3.png" alt="img"> 
        <br>
        Nhấn vào phần “Spectrum” trên màn hình chính mở chế độ đo chất luợng ánh sáng (bước sóng ánh sáng) rồi tiến hành tương tự như trên
        <br>
        Nhấn vào phần ”PPFD” trên màn hình chính mở chế độ đo mật độ quang phổ photon hoặc lựa chọn xem tỷ lệ phối trộn các màu sắc ánh sáng khác nhau. Vd: R:B, R:FR ...
    </p>
</body>
</html>