<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labostar-pro-de</title>
</head>
<body style="font-size: 20px;">
    <h2>Hướng dẫn sử dụng thiết bị labostart-pro-de</h2>
    <h4>LABOSTAR® PRO TWF
        ULTRA PURE WATER SYSTEM</h4>
    <h5>FROM TAP WATER TO ULTRAPURE WATER– ONLY 
        ONE INNOVATIVE STEP</h5>
    <p>The LaboStar® PRO TWF systems produce ultrapure 
        water straight from your drinking water supply. This 
        equipment incorporates a pre-filtration unit and a 
        reverse osmosis membrane. The pure water collects in 
        an integrated tank and is finally circulated through the 
        polishing module by a circulation pump. The user can 
        extract either Type III water from the built-in 7 l storage 
        tank or Type I water from the dispenser with a quality 
        of 0.055 µS/cm, equivalent to 18.2 MΩ-cm, and TOC 
        of between 1 and 10 ppb, depending on the system 
        type. <br>
        The RO water quality is displayed as well. The LaboStar 
        PRO TWF equipment can cost-effectively produce 
        small amounts of analytical-grade water. The water 
        quality exceeds all relevant standards including ASTM 
        Type I, CLSI and ISO 3696 Type I. System can be 
        upgraded with 30 or 60 l storage tank. <br> 
        A conductivity sensor constantly measures the product 
        water purity in the recirculation loop. A positively 
        charged 0.2 µm sterile filter at the dispenser removes 
        bacteria and endotoxins, eliminating the need for an 
        expensive ultra-filter. An uncharged 0.2 µm sterile 
        filter is also available. LaboStar PRO TWF systems are 
        delivered with the first set of modules and filters. 
        <br>
    </p>
    <h5>Benefits</h5>
    <p>
        • Upgrade with 30 or 60 l storage tank possible, 
        manual dispense via tap <br>
        • Delivers two types of water: type III from the tank 
        and type I from the dispenser <br>
        • Two different sterile filters available (with and 
        without endotoxin retention) <br>
        • Easy module change due to quick-fit couplers <br>
        • Low acquisition costs <br>

        • Scope of supply includes consumables <br>
        • Made in Germany <br>
    </p>
    <h5>Typical Applications LaboStar PRO TWF</h5>
    <p>• General analysis <br>
        • Standard buffer <br>
        • AAS, GC, IC, ICP <br>
        • Type III water <br>
        • QC Food Industry <br>
        • Pyrogen sensitive applications <br>
        • Cell and tissue culture <br>
    </p>
    <h5>Typical Applications LaboStar PRO TWF UV</h5>
    <p>• Micro- und molecular biology <br>
        • PCR, HPLC <br>
        • TOC analysis <br>
        • Type III water
    </p>
    <h4>SPECIFICATIONS</h4>
    <p>
        <img src="../../static/img_guide/Labostart-pro/1.png" alt="img"> <br>
        <i>
        * when sterile filter W3T199279 or W3T199209 is used (see accessories) with bubble
        point test: pressure > 50 psi/3.45 bar (with water) resp. 16 psi/1.10 bar (with 50%
        IPA) <br>
        ** incl. charged sterile filter (the water was free of any detectable RNase or DNase) <br>
        *** with a pre-filter <br> </i>
        RNase and DNase free water with the use of filter W3T199279 
        (RNase < 0.05 pg/ml; DNase < 10 pg/ml) <br>
        <img src="../../static/img_guide/Labostart-pro/2.png" alt="img"> <br>
    </p>
    <h4>CONSUMABLES & ACCESSORIES</h4>
    <img src="../../static/img_guide/Labostart-pro/3.png" alt="img"> <br>
</body>
</html>