<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light_Meter_Extech_SLD400</title>
</head>
<body style="font-size: 20px;">
    <h2>Hướng dẫn sử dụng thiết bị Light Meter Extech SLD400</h2>
    <h4>Giới thiệu</h4>
    <p>
        1. Giắc cắm đầu vào nhiệt độ (cặp nhiệt điện) <br>
        2. Phích cắm đầu vào của cảm biến đồng hồ đo ánh sáng <br>
        3. Đồng hồ (hiển thị kết quả đo) <br>
        4. Đồng hồ nhiệt độ (độ F) <br>
        5. Nút đèn màn hình <br>
        6. Nút Max-Min <br>
        7. Nút set đồng hồ <br>
        8. Cổng kết nối với PC	<br>
        9. Nút Reset <br>
        10. Cổng sạc <br>
        11. Khe cắm thẻ SD <br>
        12. Nút Enter và LOG <br>
        13. Nút ▼ / FUNCTION / ZERO   <br>
        14. Nút ▲ / UNIT / ZERO <br>
        15. Nút nguồn ON-OFF   <br>
        16. Loại cặp nhiệt điện hoặc đơn vị đo lường ánh sáng  <br>
        17. Cảm biến ánh sáng (có hình vòm) 

    </p>
    <img src="../../static/img_guide/Light_Meter_Extech_SLD400/1.png"  height="350" width="300" alt="img">
    <h4>Hướng dẫn đo</h4>
    <p>
        Kết nối cảm biến ánh sáng với đầu máy. (2) <br>
        Bật nguồn đồng hồ bằng cách giữ nút nguồn trong ít nhất 1,5 giây. <br>
        Chọn chế độ Đo ánh sáng bằng cách nhấn và giữ nút FUNCTION ít nhất 1,5 giây (nếu cần). Biểu tượng ‘LIGHT’ cho biết chế độ của đồng hồ đo ánh sáng.
        <br> Chọn đơn vị đo mong muốn (LUX hoặc Foot candles) bằng cách nhấn và giữ UNIT trong ít nhất 1,5 giây (nếu cần).
        <br> Đặt cảm biến trên một bề mặt hoặc cầm trên tay với khu vực hình vòm đối diện với nguồn sáng thử. Cảm biến ánh sáng có dạng hình vòm để có thẻ nhận ánh sáng từ nhiều góc khác nhau.
        <br> Đọc kết quả đo trên màn hình LCD của đồng hồ. <br>
        Dụng cụ này đo cường độ ánh sáng (độ rọi) bằng đơn vị đo LUX hoặc Foot candle.

    </p>
</html>