<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mastercycler-nexus</title>
</head>
<body>
   <h2>Hướng dẫn sử dụng thiết bị Mastercycler-nexus</h2>
   <h4>1. Login</h4>
   <img src="../../static/img_guide/Mastercycler-nexus/1.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/2.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/3.png" alt="img"> <br>
   <h4>2. Creating folders and programs</h4>
   <img src="../../static/img_guide/Mastercycler-nexus/4.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/5.png" alt="img"> <br>
   <h4>3.  Copying folders and programs</h4>
   <img src="../../static/img_guide/Mastercycler-nexus/6.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/7.png" alt="img"> <br>
   <h4>4.  Deleting folders and programs</h4>
   <img src="../../static/img_guide/Mastercycler-nexus/8.png" alt="img"> <br>
   <h4>5.  Editing programs</h4>
   <img src="../../static/img_guide/Mastercycler-nexus/9.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/10.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/11.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/12.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/13.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/14.png" alt="img"> <br>
   <img src="../../static/img_guide/Mastercycler-nexus/15.png" alt="img"> <br>
    <h4>6. Stopping and starting programs</h4>
    <img src="../../static/img_guide/Mastercycler-nexus/16.png" alt="img"> <br>
    <img src="../../static/img_guide/Mastercycler-nexus/17.png" alt="img"> <br>
    <img src="../../static/img_guide/Mastercycler-nexus/18.png" alt="img"> <br>
</body>
</html>