<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>May dong kho</title>
</head>
<body style="font-size: 20px;">
    <h2>Hướng dẫn sử dụng máy đông khô </h2>
    <h4>Chú ý trước khi vận hành: </h4>
    <p>
        -Trước khi vận hành thiết bị cần rút ống xả khí ra khỏi thiết bị để đảm bảo bộ hút chân không được kín. <br>
        -Mẫu cần để ở tủ lạnh âm sâu ít nhất qua đêm (mẫu để trong các bình thủy tinh đi kèm máy hoặc đồ dùng inox)
    </p>
    <h4>Vận hành:</h4>
    <p>
        1.Bật nguồn <br>
        2.Bấm vào Vacuum trên màn hình để cài đặt chế độ chân không. Đặt giá trị 0.5 mbar  <br>
        3.Bấm vào chế độ Auto. Thiết bị tự động chạy <br>
        4.Đợi khi nào nhiệt độ trên màn hiển thị -39 độ C mới được cho mẫu vào buồng đông khô hoặc lắp các bình đông khô vào vị trí lắp bình xung quanh máy <br>
        5.Nhấn Stop để dừng quá trình đông khô <br>
        6.Xả khí để lấy mẫu ra: ấn ống xả khí vào lỗ xả khí phía dưới, bên trái của thiết bị <br>
        7.Lấy mẫu (đề phòng bị lạnh tay do mẫu được làm lạnh ở -40 độ C trong thời gian dài) <br>
    </p>
</body>
</html>