<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIS-ELEMENT-D</title>
</head>
<body style="font-size: 20px;">
   <h2>Hướng dẫn sử dụng phần mềm NIS-Element D</h2>
   <h4>1. Khởi động hệ thống và giao diện phần mềm</h4>
   <p>Bật hệ thống theo đúng thứ tự! <br>
    Kính → Camera → Máy tính → Khởi động phần mềm <br>
    1. Thanh công cụ chuyển đổi
    giao diện <br>
    2. Điều khiển kiểm soát NUT <br>
    3. Tab mở hình ảnh hiển thị <br>
    4. Thanh công cu định hướng
    quan sát <br>
    5. Điều khiển thu nhận, lưu
    trữ hình ảnh. <br>
    6. Điều khiển thiết lập chế độ
    sáng. <br>
    7. Điều khiển camera và thiết
    bị     <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/1.png" alt="img"> 
</p>
<h4>2. Các thao tác để thu nhận (chụp ảnh) đơn, ND</h4>
<p>
    <i>Thu nhận ảnh đơn</i> <br>
    B1: Sau khi khởi động phần mềm, chọn live <br>
    B2: Trong cửa sổ cài đặt camera: điều chỉnh độ phân giải, chế độ phơi sáng.
    Chọn chế độ phơi sáng tự động cho camera: Bấm chọn Auto Exposure, và tùy chỉnh thêm thời
    gian phơi sáng phù hợp theo ý muốn ở ô cài đặt phơi sáng thủ công  <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/2.png" alt="img">  <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/3.png" alt="img">  <br>
    B3: Trên cửa sổ ảnh live, chọn công cụ chỉnh tương phản tự động và chỉnh tỉ lệ
    để tự động căn chỉnh tương phản và lấy tỉ lệ cho ảnh <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/4.png" alt="img">  <br>
    B4: Chụp ảnh, click vào biểu tượng
capture trên màn hình <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/5.png" alt="img">  <br>
Ngoài ra: trên thanh công cụ, có 2 chế
độ chụp <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/6.png" alt="img">  <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/7.png" alt="img">  <br>
<i>Thu nhận ND</i> <br>
<b>Defile/Run Experiment</b> :  mở bảng View > Acquisition Controls > ND Acquisition <br>
<b>Capture Timelapse Automatically</b> : chạy lệnh Acquire > Capture Timelapse > Capture Automatically <br>
<b>Capture Timelapse Manually</b> : chạy lệnh Acquire > Capture Timelapse > Capture Manually <br>
<b>Capture Z-Series Manually</b> : chạy lệnh Acquire > Capture Z – series > Capture Manually <br>
<b>Capture Multichannel Manually</b> : chạy lệnh Acquire > Capture Multichannel > Capture Manually <br>
<b>Capture Large image</b> : chạy lệnh Acquire > Manual large image

</p>

<h4>3.Công cụ chỉnh sửa ảnh, đo đạc</h4>
<p>Lựa chọn các chế độ
    chỉnh tương phản, sắc
    nét, nền,…: <b> Kích chọn
    công cụ Image -> Chọn
    chế độ chỉnh phù hợp</b> <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/8.png" alt="img">  <br>
    Điều chỉnh độ sáng và màu sắc qua công cụ <b> Look up table LUTs </b>: kích chuột phải ra
ngoài khung ảnh, chọn <b> Visualization Controls </b> -> <b> LUTs </b> -> Sử dụng chuột kéo các
thanh màu (red, green, blue) để điều chỉnh <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/9.png" alt="img">  <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/10.png" alt="img">  <br>
Chèn thước chuẩn (scale bar) vào hình và đo đạt <br>
<i> Lưu ý: Trước khi chèn thước hoặc thực hiện các phép đo </i>, Để thu được độ dài chuẩn cho thanh scale bar cũng
như các phép đo khác, phải chọn đúng loại vật kính được sử dụng để chụp mẫu. <br>
Để mở cửa số lựa chọn vật kính: Chọn biểu tượng Device trên thanh công cụ -> Manual Microscope Pad -> 
kích chọn đúng vật kính <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/11.png" alt="img">  <br>
Chèn thước chuẩn (scale bar) vào hình và thiết lập kích thước, độ dày,
màu sắc scale bar với công cụ Scale properties <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/12.png" alt="img">  <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/13.png" alt="img">  <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/14.png" alt="img">  <br>
• Đo lường thủ công sử dụng các loại lưới: nhấn nút <b>Graticules.</b>  <br>
• Xác định đặc tính lưới: Nhấp phải <b> Graticules </b> và chọn <b> Graticules properties </b> <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/15.png" alt="img">  <br>
<i> Chú thích và đo lường </i>: thực hiện các phép đo diện tích, độ dài, đếm,
phân loại,…: kích chuột phải ra ngoài khung ảnh, chọn <b> Analysis </b>
<b> Controls </b> -> <b> Annotation </b> and <b> Measurement </b>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/16.png" alt="img">  <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/17.png" alt="img">  <br> 
Xuất số liệu đo: Kết quả đo có thể xuất ra báo cáo, excel, máy in,… <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/18.png" alt="img">  <br> 
Có thể lựa chọn xuất giới hạn một vài thông số cụ thể thu được từ rất
nhiều phép đo đã thực hiện: Trên menu kéo xuống cạnh nút export, chọn
setting -> data export -> tích chọn các dữ liệu muốn xuất <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/19.png" alt="img">  <br> 
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/20.png" alt="img">  <br> 

 </p>
 <h4>4.Tạo video</h4>
 <p>
<i>Thu nhận phim AVI</i> <br>
1. Chạy lệnh Acquire > AVI/MP4 Acquisition hiện bảng
điều kiển thu nhận AVI <br>
2. Điều chỉnh các cài đặt nâng cao, đặc biệt là chỉ định tên
và nơi lưu thư mục <br>
3. Nhấn nút Record, ảnh live xuất hiện và bắt đầu ghi theo
các cài đặt. <br>
4. Nhấn Stop để ngừng ghi, hay đợi đến hết thời gian chỉ
định trong trường Duration <br>
5. Khi dừng, tệp AVI vẫn mở trong cửa sổ hình ảnh mới <br>
<img style="" src="../../static/img_guide/NIS-ELEMENT-D/21.png" alt="img">  <br> 
 </p>
 <h4>5. Lưu, mở và đóng hình ảnh, video</h4>
 <p>
    Lưu nhanh bằng công cụ save, save as trên thanh công cụ ở hộp thoại phía bên phải
    hoặc lưu, mở, xuất, báo cáo qua “File” <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/22.png" alt="img">  <br> 
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/23.png" alt="img">  <br> 
    Định dạng hình ảnh: AVI, MP4, JP2 - JPEG2000
ND2, JPG, JFF, JTF, TIFF, TIF, OME.TIF, OME.TIFF
GIF, PNG <br>
<i> Đóng hình ảnh: </i> 
 • Đóng một ảnh đơn: từ <b> file </b> hình ảnh >  lệnh <b>close </b>  <br>
     • Đóng nhiều ảnh cùng lúc: sử dụng  <b>window</b> > <b>Closea all</b>  <br>
• Đóng các file đã mở nhưng giữ lại file ảnh gần nhất: <b>window</b> > <b>Closea all
but Current </b> <br>
 </p>
 <h4>6. Tạo báo cáo</h4>  
 <p>
 Tạo báo cáo mới:  Report > New blank report <br>
 Tạo báo cáo từ mẫu có sẵn: File > Report > New report 
from Tempplate <br>
 Tạo form mẫu báo cáo: File > Report > New report template <br>
 <img style="" src="../../static/img_guide/NIS-ELEMENT-D/24.png" alt="img">  <br> 
 <img style="" src="../../static/img_guide/NIS-ELEMENT-D/25.png" alt="img">  <br> 
<i> Cách tạo mẫu báo cáo </i>
1. Chạy lệnh File > Report > New Blank Report. Khung báo cáo trống xuất hiện. <br>
2. Trong mục Report Generator, chọn File > Change to Template <br>
3. Chỉnh sửa mẫu báo cáo <br>
4. Chèn dữ liệu động (kết quả đo, hình ảnh …) <br>
5. Chạy lệnh File > Save để lưu mẫu báo cáo (*.rtt) <br>
<i> Cách tạo báo cáo từ mẫu </i> <br>
1. Nếu đã mở sẳn mẫu báo cáo, chạy lệnh File > Create Report. Nếu không, chạy lệnh File 
> Report > New Report from Template > Browse để mở mẫu báo cáo từ ổ cứng <br>
2. Mẫu báo cáo mở ra và các dữ liệu động tự động chèn vào <br>
3. Sử dụng các lệnh từ menu File để lưu, in hay xuất các trang thành PDF <br>
</p>
<h4>Phím tắt sử dụng nhanh</h4>
<p>Nhấp chuột phải vào vùng nền
    (vùng không có ảnh) để truy cập
    nhanh 4 tùy chọn điều khiển: <br>
     • Acquisition control <br>
    • Analysis control <br>
    • Visualization control <br>
    • Macro control <br>
    <img style="" src="../../static/img_guide/NIS-ELEMENT-D/27.png" alt="img">  <br> 
</p>
</body>
</html>