<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noi hap tiet trung</title>
</head>
<body style="font-size: 20px;">
    <h2>Hướng dẫn sử dụng nồi hấp tiệt trùng</h2>
    <img src="../../static/img_guide/Noihap/1.png" alt="img"> <br>
    <img src="../../static/img_guide/Noihap/2.png" alt="img"> <br>
    <h4>1. Chú ý trước khi sử dụng: </h4>
    <p>
        -Nồi hấp đang vận hành sẽ có nhiệt độ cao, cẩn thận khi tiếp xúc <br>
        -Đồ hấp phải đặt vào giỏ hấp khi sử dụng nồi hấp tiệt trùng ALP <br>
         -Phải kiểm tra lượng nước bên trong nồi. (nước phải ngập tấm kê đặt dưới  đáy nồi. Sử dụng nước đã qua máy lọc để giữ bền nồi, chế độ sấy phải xả hết nước)
       <br> -Kiểm tra van xả (nước và hơi) trước khi chọn chế độ.
       <br> -Đóng nắp chặt trước khi sử dụng, không đóng nắp lệch hở và không mở nắp khi đồng hồ áp suất chưa về 0.
       <br> -Khi chọn chế độ cần phải quan sát kỹ chương trình lựa chọn (quan sát đèn sáng).
       <br> -Không thay đổi thời gian, chương trình khi máy đang hoạt động.
       <br> -Không sử dụng các chất tẩy, môi trường có tính oxy hóa cao lau chùi hay hấp, sấy để tránh làm hỏng máy. Cần vệ sinh thiết bị sau 3-4 ngày sử dụng liên tục hoặc khi chuẩn bị ngắt máy vài ngày.
    </p>
    <h4>2. Vận hành</h4>
    <h4>2.1. Chế độ hấp tiệt trùng</h4>
    <p>
        B1. Khóa van xả đáy và van xả khí (thông thường đã khóa sẵn). Kiểm tra mực nước bên trong nồi
       <br> B2. Chuẩn bị đồ dùng cần tiệt trùng, xếp đồ vào giỏ đi kèm máy, không xếp trực tiếp xuống tấm kê, nới lỏng nắp các chai lọ. Không xếp đồ đầy nồi.
       <br> B3. Đóng chặt nắp nồi khử trùng (vặn các chốt đối nhau đồng thời bằng hai tay).
       <br> B4. Bật nguồn. 
       <br> B5. Chọn nhiệt độ khử trùng mong muốn (Bấm nút <b> TEMP </b> trên bảng điều khiển, khi thấy màn hiển thị nhiệt độ nhấp nháy, nhấn nút lên xuống trên bảng điều khiển để điều chỉnh nhiệt độ cần đặt).
       <br> B6. Chọn thời gian mong muốn (Bấm nút <b> TIME </b> trên bảng điều khiển, cùng nút bấm <b> TEMP </b>, khi thấy đèn hiển thị thời gian nhấp nháy, nhấn nút lên xuống trên bảng điều khiển để điều chỉnh thời gian cần đặt).
       <br> B7. Nhấn nút <b> Enter </b> trên bảng điều khiển để cố định chế độ nhiệt và thời gian đã chọn. 
       <br> B8. Nhấn nút <b> Start </b> để bắt đầu. Đèn <b> Heat </b> sẽ bật sáng (Thiết bị chạy bình thường)
       <br> B9. Khi đồng hồ áp suất về 0. Nhiệt độ dưới 80 độ C, đèn <b> Complete </b> nháy sáng báo hiệu hoàn tất chu trình khử trùng. Lúc đó mới được mở nắp nồi.
        <b>Chú ý:</b> <br>
        <i>
            -Nhiệt độ cài đặt từ 110oC đến 127oC (không đặt nhiệt độ quá giới hạn này). <br>
            -Thời gian hấp từ 0- 60 phút. <br>
            -Khi đồng hồ áp suất lớn hơn 0 dù đã hấp xong cũng không mở nắp ngay mà phải xả để áp suất về 0 rồi mới mở nồi tránh bị bỏng hơi.
        </i>
    </p>
    <h4>2.2 Chế độ hấp tiệt trùng + sấy</h4>
    <p>
        (Không khuyến khích vì khi sấy cần xả hết nước trong nồi, không an toàn vì nước nóng, thời gian sấy lâu, phòng thí nghiệm nhỏ. Nếu cần sấy dụng cụ đã có tủ sấy riêng)
        -Từ B6 của mục 2.1., nhấn nút <b> Pattern </b> để chuyển sang chế độ xả ( <b> Drain </b> ) và chế độ sấy (<b> Dry </b>). Kiểm tra bằng cách nhìn đèn của các chế độ này báo sáng. 
        -Cài đặt thời gian sấy rồi nhấn <b> Enter. </b> 
        Khi nào toàn bộ đèn của chu trình từ <b> Heat </b> đến <b> Dry </b>đều sáng là chỉ thị cho việc cài đặt xong chế độ khử trùng và sấy.
        -Lúc đó mới được nhấn <b> Start </b> để bắt đầu chu trình.
        <i>
           <b> Chú ý: </b> <br>
            Thời gian sấy từ 0-10 giờ. <br>
            Nhiệt độ cài đặt sấy từ 100oC – 130o(không đặt nhiệt độ ngoài khoảng này) <br>
            Khi sấy đồ vật để trong buồng sấy chỉ nên xếp khoảng 50% thể tích. <br>
        </i>
    </p>
</body>
</html>