<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portable Leaf Area Meter YMJ-B</title>
</head>
<body style="font-size: 20px;">
<h2>Hướng dẫn sử dụng Portable Leaf Area Meter  YMJ-B
</h2>
<img src="../../static/img_guide/Portable Leaf Area Meter YMJ-B/1.png" alt="img"> 
<h4>THÔNG TIN CHI TIẾT <br>
    Tên: Máy đo diện tích lá YMJ-B <br>
    Hãng sản xuất: Top Instrument - Trung Quốc <br>
    Xuất xứ: Trung Quốc
    </h4>
 <h4>Đặc điểm
 </h4>
 <p>
    1. Thiết kế tích hợp động cơ chính và đầu dò giúp vận hành thuận tiện hơn. <br>
    2. Sử dụng công nghệ máy tính vi mô, màn hình LCD LCD. <br>
    3. Tích hợp pin lithium hiệu suất cao có thể sạc lại, không có nguồn điện bên ngoài, hiển thị điện áp thấp, phù hợp hơn cho việc đo đạc tại hiện trường
   <br>
    4. Diện tích lưỡi dao lớn có thể được đo một lần (2000mm × 213mm). <br>
    5. Có thể đo nhiều thông số phiến lá: diện tích lá, diện tích lá trung bình, chiều dài lá, chiều rộng lá, tỷ lệ chiều dài-rộng. <br>
    6. Có thể lưu trữ 5000 bộ dữ liệu (diện tích lá, chiều dài lá, chiều rộng lá). <br>
    7. Thời gian bên trong dụng cụ, chức năng ngày, có thể được đo với dữ liệu đo lường để tiết kiệm thời gian đo lường, dễ dàng truy vấn. <br>
    8. Dữ liệu lịch sử có thể được truy vấn trên điện thoại di động. <br>
    Giao diện giao tiếp: Giao diện USB mini, có thể nhập dữ liệu vào máy tính.
    
 </p>
 <h4>Cách dùng</h4>
 <img src="../../static/img_guide/Portable Leaf Area Meter YMJ-B/2.png" alt="img"> 
 <p>Kẹp phần cuống lá cây vào thanh đo, rồi từ từ kéo nhẹ để thanh đo đi hết chiều dài của lá cây, đồng thời kéo theo dây kéo. Ngay khi kéo hết chiều dài lá thì nhấn nút “Enter” để kết thúc quá trình đo. Nhấn save để lưu lại kết quả đo. 
    <br>
    Để thay đổi các chức năng đo khác nhau, ấn liên tục nút “Menu” để lựa chọn chức năng đo, nhấn nút “Enter” để hoàn tất.
    <br>
    Lưu ý: ngắt ống dài
    </p>
</body>

</html>