<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portable_Leaf_Area_Meter_CI_202</title>
</head>
<body style="font-size: 20px;">
<h2>Hướng dẫn sử dụng thiết bị Portable Laser Area Meter CI-202
</h2>
<img src="../../static/img_guide/Portable_Laser_Area_Meter_CI_202/1.png" alt="img"> 
<h4>THÔNG TIN CHI TIẾT <br>
Tên: Máy đo diện tích lá bằng lase <br>
    Hãng sản xuất: Bio – Science
</h4>
<h4>Đặc điểm:
</h4>
<p>1. Đo diện tích, chiều dài, chiều rộng,chu vi và tính toán hệ số hình dạng và tỷ lệ khung hình
   <br> 2. Không phá hủy mẫu và linh hoạt
   <br> 3. Làm phẳng các lá cong để cung cấp các phép đo chính xác
   <br> 4. Độ phân giải 0,01 cm2
   <br> 5 Lưu trữ lên đến 8.000 phép đo đơn lẻ
   <br> Thiết bị nhẹ và khép kín với bộ ghi dữ liệu tích hợp và màn hình LCD
   <br> 6. Pin bên trong có thể sạc lại
   <br> 7. Cổng USB truyền dữ liệu sang máy tính và sạc thiết bị
   <br> 8. Không cần hiệu chuẩn
   <br> 9. Bao gồm phần mềm giao tiếp, hướng dẫn vận hành và hộp đựng vỏ cứng
    </p>
    <h4>Cách dùng cơ bản:
    </h4>
    <img src="../../static/img_guide/Portable_Laser_Area_Meter_CI_202/2.png" alt="img"> 
    <p>Để đo một chiếc lá, hãy nhấc tấm phim trong suốt lên, đặt chiếc lá lên bảng màu, đặt tấm phim trong suốt lên chiếc lá và trượt máy quét laze lên bảng. Ấn ‘SAVE” để lưu kết quả (nếu không đặt chế dộ Auto-Save. CI-202 cho kết quả tức thì cho các phép đo diện tích lá, chiều dài, chiều rộng, chu vi, tỷ lệ và yếu tố hình dạng.</p>
<h4>Cách dùng chi tiết:</h4>
<h4>Đo lường</h4>
<img src="../../static/img_guide/Portable_Laser_Area_Meter_CI_202/3.png" alt="img"> 
<p>Trong chế độ đo, dòng trên cùng của màn hình sẽ hiển thị từ "Measure" ở bên trái và tên của một tập tin bên phải. Dòng dưới cùng của màn hình sẽ có từ “start” trong dấu ngoặc ở bên trái và bốn các mũi tên hướng bên phải.
    <br>
    Để bắt đầu đo, nhấn phím enter hoặc phím bắt đầu. Điều này bắt đầu quá trình đo lường. Động cơ sẽ bắt đầu quay đến tốc độ ngay sau khi nhấn nút và màn hình sẽ hiển thị “Stabilizing”, sau đó “Spinning Up”, sau đó “Measuring”. Tại thời điểm này, di chuyển đầu quét xuống bảng quét. Khi đầu đã được rút ra hoàn toàn, thiết bị sẽ tự động dừng và hiển thị kết quả của đo đạc. Tại thời điểm này, hãy xem trước kết quả và quyết định xem nó có nên được lưu hay không và lưu vào tệp nào nên được lưu vào. Phím enter sẽ làm cho máy quét khởi động và sau đó thiết bị sẽ khởi động đo lường; nếu chuyển động không được phát hiện trong vòng vài giây, máy quét sẽ tắt. Phím start thực hiện điều tương tự, nhưng nếu nó được nhấn xuống, máy quét sẽ tiếp tục quay cho đến khi bạn sẵn sàng đo.
    <br>
    <img src="../../static/img_guide/Portable_Laser_Area_Meter_CI_202/4.png" alt="img"> 
    <br>
    Màn hình sẽ hiển thị tên của tệp hiện tại ở góc trên bên trái của màn hình, tham số tên ở góc dưới bên trái và giá trị tham số ở góc dưới bên phải màn hình. 
    <br>
    Để hiển thị một tham số khác, hãy nhấn phím mũi tên PHẢI &#8594 hoặc TRÁI &#8592. Liên tục nhấn phải phím mũi tên &#8594 sẽ đưa bạn qua diện tích, chiều dài, chiều rộng, chu vi, tỷ lệ khung hình và yếu tố hình dạng, theo thứ tự đó.
    <br>
    Chỉ các thông số có thể được lưu vào tệp hiện tại mới được hiển thị. Nếu các thay đổi được yêu cầu trước khi có dữ liệu đã lưu, 
    sử dụng các phím mũi tên lên và xuống &#8645 để xem qua các tệp. Để hủy phép đo, hãy nhấn nút STOP. 
    Một phép đo khác có thể được thực hiện vào lúc này, nếu được yêu cầu. 
    Tùy thuộc vào việc thiết lập chức năng lưu tự động của thiết bị phép đo sẽ hoặc không được lưu.
</p>
<h4>Xem dữ liệu
</h4>
<img src="../../static/img_guide/Portable_Laser_Area_Meter_CI_202/5.png" alt="img"> 
<p>
    Các tùy chọn:  <br>
- để chọn một chế độ khác bằng các phím mũi tên lên hoặc xuống &#8645 <br>
	+ để chọn một tệp (nếu có nhiều tệp) bằng các phím mũi tên phải hoặc trái<br>
	+ để xem thời lượng pin <br>
	+ để xem điện áp <br>
- bắt đầu quá trình xem bằng cách nhấn nút START / ENTER

</p>
</body>
</html>