<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWXB-4G-EU/BR-V2</title>
</head>
<body style="font-size: 20px;">
<h2>Hướng dẫn sử dụng thiết bị SWXB-4G-EU/BR-V2</h2>
<h4>1. Bước 1: Lắp Anten</h4>
<p>Lắp 2x anten bên trái và bên phải theo chiều của hình bên dưới để thiết bị bắt được sóng LTE 4G tốt 
    nhất:  <br>
     - Anten trái vuông gốc với mặt thiết bị <br>
     - Anten phải song song với mặt thiết bị</p>
     <img src="../../static/img_guide/SWXB_4G_EU_BR_V2/1.png" alt="img"> <br>
     <img src="../../static/img_guide/SWXB_4G_EU_BR_V2/2.png" alt="img"> 
<h4>2. Bước 2: Lắp sim 4G-Data:</h4>
<p>Để kết nối Internet cho thiết bị, cần gắn thiết bị với 1x SIM 4G-Data đã được kích hoạt sẵn gói dữ
    liệu. Ví dụ: có thể dùng Sim của Viettel/Vinaphone hoặc Mobiphone đều được. (Thiết bị đã được 
    thử kết nối thành công với Sim 4G-Data của Viettel). <br>
    Cách lắp Sim theo hình bên dưới. Tại khe cắm Sim có tích hợp chung với đầu cắm USB theo tiêu 
    chuẩn: <br>
    - nano-SIM card <br>
    - micro-USB (type B) <br>
    <img src="../../static/img_guide/SWXB_4G_EU_BR_V2/3.png" alt="img"> 
</p>
<h4>3. Bước 3: Bật nút nguồn:</h4>
<p>Do thiết bị đã được sặc đầy nguồn (pin tích hợp bên trong) nên không cần gắn dây nguồn. Cách 
    bật/tắt nút nguồn như hình bên dưới. Chú ý: giúp tắt nút này khi test xong.
    <br>
    <img src="../../static/img_guide/SWXB_4G_EU_BR_V2/4.png" alt="img"> 
    <br>
    Khi nhấn nút nguồn, sẽ có đèn led nhấp nháy khá nhanh, thiết bị sẽ tự hoạt động theo cấu hình mặc 
    định bên trong! <br>
    <i>Trường hợp nếu nguồn sắp hết, có thể dùng dây cáp có đầu micro-USB gắn thiết bị, đầu còn lại gắn vào cục sặc USB tiêu 
        chuẩn hoặc có thể gắn trực tiếp vào máy tính qua cổng USB bình thường để sạc pin cho thiết bị. Lúc này KHÔNG cần bật 
        nút nguồn trên thiết bị, pin bên trong sẽ tự động được sạc, như hình ví dụ bên dưới:</i>
        <br>
        <img src="../../static/img_guide/SWXB_4G_EU_BR_V2/5.png" alt="img"> 
    <br>
    </p>
    <h4>4. Cấu hình (nếu cần)</h4>
    <p>Thiết bị này có tên là Smart Water Xtreme, dùng trong nông nghiệp, để gắn với các cảm biến chất 
        lượng nước (ví dụ trong ao nuôi tôm/cá) để đo các giá trị như Nhiệt độ nước, pH, Oxy hoà tan,..v.v.
        và gửi giá trị đo được đi Internet thông qua SIM 4G.</p>
</body>
</html>