<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu am nuoi vi sinh</title>
</head>
<body style="font-size: 20px;">
    <h2>Hướng dẫn sử dụng tủ ấm nuôi vi sinh</h2>
<p>1.Bật nút nguồn <br>
  2.Nhấn vào bảng cài đặt nhiệt độ. Vặn nút điều chỉnh nhiệt độ cần cài đặt. Bấm nút điều chỉnh để ghi nhớ nhiệt độ cài đặt
    <br> 3.Nhấn vào bảng cài đặt thời gian. Vặn nút điều chỉnh thời gian cần cài đặt. Bấm nút điều chỉnh để ghi nhớ thời gian cài đặt (nếu cần) 
    <br> 4.Nhấn vào bảng mức độ thông gió. Vặn nút điều chỉnh mức độ thông gió. Bấm nút điều chingr để ghi nhớ mức độ thông gió (nếu cần)
    <br> 5.Trong quá trình nuôi phải đóng cửa tủ
    6.Sử dụng xong, tắt nút nguồn</p>
</body>
</html>
