<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu an toan sinh hoc</title>
</head>
<body style="font-size: 20px;">
    <H2>Hưỡng dẫn sử dụng tủ an toàn sinh học</H2>
    <p>1. Bật công tắc nguồn ở trụ chân bên phải (công tắc phía dưới) <br>
        2. Bật quạt gió ở trụ chân bên phải (ở hàng công tắc phía trên) <br>
        3. Bật công tắc đèn tím, đèn chiếu sáng ở trụ bên phải (ở hàng công tắc phía trên, nếu cần) <br>
        4. Sau khi sử dụng, hãy để quạt gió chạy trong khoảng 10 phút rồi mới tắt để xả khí dư.</p>
</body>
</html>